<html>
<head>
<title>Nhận diện biển số xe</title>
</head>
<body>
<div style="padding:20px;">
<h2>Nhận diện biển số xe</h2>
<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>

{% if filenames %}
<div style="padding:20px;float:left;">
    <p>Ảnh nhận diện biển số xe</p>
    <img width="300" src="{{ url_for('display_image', bbox_path=filenames) }}">
</div>
{% endif %}
</div>
</body>
</html>